    <!-- Footer -->
<footer class="bg-dark text-white text-center ">
    <!-- Grid container -->
    <div class="container p-4 pb-5">
  
      <!-- Section: Text -->
    <!-- Section: Links -->
      <section class="pt-2 pb-2 ">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
            <h5 class="text-uppercase socials">100 Devs, Cohort 2 </h5>
  
            <ul class="list-unstyled mb-0" >
              
             <li class="socials">Robin Herzig <a class="text-decoration-none text-white" href="https://github.com/RobinHerzig"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/robinherzig/"><i class="fa-brands fa-linkedin-in"></i></a></li>
             <li class="socials">Jeff Whetzal <a class="text-decoration-none text-white" href="https://github.com/NothingRemains"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/jwhetzal/"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li class="socials">Larry Nguyen: <a class="text-decoration-none text-white" href="https://github.com/vu5381"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/larrydnguyen/"><i class="fa-brands fa-linkedin-in"></i></a></li>
             <li class="socials">Jason Parker: <a class="text-decoration-none text-white" href="https://github.com/jparrker/"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/jsonparker/"><i class="fa-brands fa-linkedin-in"></i></a></li>
             <li class="socials"> Jordan Veloso: <a class="text-decoration-none text-white"href="https://github.com/jrveloso"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/jordan-veloso/"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li class="socials"> Thomas Wright: <a class="text-decoration-none text-white"href="https://github.com/thomasxwright"><i class="fa-brands fa-github"></i></a> - <a href="https://www.linkedin.com/in/thomasxwright/"><i class="fa-brands fa-linkedin-in"></i></a><li>
            </ul>
          </div>
          <!--Grid column-->
  
         
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: Visualize
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>